@{
    ViewBag.Title = "isi tamplate"; //untuk memberi nama title
    Layout = "~/Views/Shared/LayoutUser.cshtml"; //untuk memilih layout yang akan dipakai
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
